@use 'variables';

.card {
    background-color: #73BA9B;
    margin: 5px;
    padding: 5px;
    
    .card__btn {
        display: block;
        width: 100%;
        padding: 5px 0;
        border: none;
        background-color: lighten(#73BA9B, 15%);
        color: complementary(#73BA9B);

        &:hover {
            background-color: lighten(#73BA9B, 25%);
        }
    }
}